<%- include('./partials/head') %>

<% if (user) { %>
<h1>Welcome to the App <%= user.username%></h1>
<p>A job application tracker</p>
<% } else { %>
    
<h1>Welcome to Skyrocket guest</h1>
<p>A job application tracker</p>

<% } %>

<%- include('partials/footer') %>